
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
    background: #f5f5f5;
    display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
}
main{
    flex: 1;
}
nav {
    position: fixed;
    top: 10px;
    text-align: center;
    gap: 40px;
    backdrop-filter: blur(6px);
    z-index: 9000;
}

nav a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(248, 140, 32, 0.55);
    margin: 0 20px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    text-decoration: underline;
    color: #aeccd6;

}
/* Slide Images  */


.main {
    top: 0;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    animation: slider 19s linear 2s infinite;
    filter: brightness(70%);

}
 @keyframes slider {
    0% {
        background-image: url("../images/herat.jpg");
        background-size: 100% 100%;

    }

    25% {
        background-image: url("../images/bamyan.jpg");
        background-size: 100% 100%;

    }

    50% {
        background-image: url("../images/kabul-musque.jpg");
        background-size: 100% 100%;

    }

    75% {
        background-image: url("../images/Mausoleum_of_Baba_Wali_in_Kandahar.jpg");
        background-size: 100% 100%;

    }

    100% {
        background-image: url("../images/mazar.jpg");
        background-size: 100% 100%;
    } 
 }
 
/* Name Pop  */
.name{
    position: absolute;
    left: 50%;
    top: 260px;
    transform: translate(-50%);
    background:rgba(210, 214, 227, 0.644);
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 20px;
    animation: pop 1s forwards;
  
}
@keyframes pop{
    0%{opacity: 1; transform: translate(-50%,20px);}
    20%{opacity: 1; transform: translate(-50%,0);}
    80%{opacity: 1;}
    100%{opacity: 0;}
}
@font-face{
    font-family: BebasNeue-Regular;
    src: url("BebasNeue-Regular.ttf");
}
.section{
    max-width: 900px;
    margin: 60px auto;
    padding:20px;
    text-align: center;
}
.section h1{
    font-size: 34px;
    margin-bottom: 10px;
}
.subtitle{
    color: #777;
    margin-bottom: 20px; 
    text-align: center;      
}
    .section p{
        line-height: 1.8; 
        font-size: 16px;
}
mark{
    background: #ffe066;
    padding: 2px 6px;
    border-radius: 4px;
}

h1,
h2,
h3 {
    font-family: BebasNeue-Regular;
    text-align: center;
}

 /*Featured Cities (Grid) */
 .featured {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
    
}

.card {
    background: white;
    padding: 20px;
    text-align: center; 
     border-radius: 10px; 
}

 .card img {
    width: 30%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    background: #806901;
    padding: 1px;
    box-shadow: 0 0 15px rgba(241, 176, 71, 0.854);
    transition: 0.4s;
}
.card img:hover{
    transform: scale(1.1);
    border-radius: 10px;
        background: #dade9e; 
}
.card:hover { 
    background: #deca9e;
   
}

.quote-card {

    position: relative;
    overflow: hidden;
    border-radius: 12px;
    text-align: center;
    width: 200%;
    max-width: 60%;
    cursor: pointer;
    font-family: Noto serif, serif;
    margin: 60px auto;
}
.quote-card img{
    width: 100%;
    height: auto;
    border-radius: 12px;
    object-fit: cover;
    display: block;
    transition: 0.4s;
   
}
.quote-text{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 18px;
    transition: 0.4s;
}

.quote-card:hover img {
    transform: scale(1.15)translateY(-10px);
}
.quote-card:hover .quote-text{
    bottom: 0;
}
.light-bg {
    background-color: #dcedc8;
}
/* Gallery Grid */

.gallery{
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 8px;
    padding: 50px;
    justify-items: center;
}
.gallery-card{
    background: white;
    padding: 10px;
    transition: 0.4s;
    border-radius: 10px;
   

}
.gallery-card:hover{
    background: #594c29;
    color: white;
}


/* City of the Day*/

.city-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: #a38d57;
    padding: 30px;
    align-items: center;
}
.city-box img{
    width: 350px;
    border-radius: 20px 2px;
    transition: 0.4;
}

.city-box img:hover {
   filter: brightness(70%);
   
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    margin: auto;
   padding: 30px;
   color: rgb(69, 83, 88);
}

input,
textarea {
    padding: 10px;
    border: 2px solid #8BA513;
    transition: 0.3s;
}

input:focus,
textarea:focus {
    border-color: #DAA520;
    outline: none;
}

button {
    padding: 12px;
    background: #8BA513;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    
        
}

button:hover {
    transform: scale(1.1);
    background: #96c4d5;
    color: rgb(25, 38, 43);
}
.back{
    text-align: left;
}
.site-footer{
   
         text-align: center;
         background: #1e293b;
         color: #ffffff;
            padding: 20px;  
            border-radius: 12px 12px 0 0;
            margin-top: 40px;

          
         
}
